body{
    font-family: "Poppins", serif;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  
.bg-orange{
    background: orange;
}

.bg-green{
  background: rgb(211, 255, 231);
}

.navMenu{
    position: sticky;
    top: 0;
    background: white;
    padding: 15px 0px 15px 0px;
    z-index: 3;
}
   


.navMenuWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .listMenu{
        width: 40%;
        display: flex;
        justify-content: left;
        gap: 30px;
        .menuItem a{
            font-size: 13px;
            text-decoration: none;
            color:dimgray;
        }
    }
    .logo{
        width: 30%;
    }
    .buttonRegister{
        width: 20%;
        text-align: right;

    }

}


.heroSection{
    width: 100%;
    height: 100vh;
    background:  url(../image/hero-section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    .heroHeight{
        height:100vh;
        z-index: 1;
        position: relative;
    }
    .heroRight{
        background: white;
        padding: 50px;
    }

    .heroLeft h1{}
    .bgLayer{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.521);
        z-index: 0;
    }
}


.sectionAdvantage{
    padding: 80px 0px;

    .advLeft{
        padding-right: 50px;
    }
    .advRight img{
        width: 100%;
    }
}

.cursorPointer{
  cursor: pointer;
}

.borderLeft{
  border-left: 1px solid #999;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#TextService{
  display: none;
}



/*CSS MOBILE*/


@media only screen and (max-width: 991px) {
    .heroSection{
        .heroLeft {
           padding: 80px 0px;
        }
    }
}




@media only screen and (max-width: 768px) {
    .sectionAdvantage{
    
        .advLeft{
            padding-right: 0px;
        }
        .advRight img{
            margin: 30px 0px;
        }
    }
}

.sectionSlider{
  margin-top: 50px;
  .splide__slide{
    padding: 20px;
    border: 1px solid green;
  }
}

.contenInside{
  margin: 80px 0px;
}
.testimoniNameTitle{
  display: flex;
  gap: 30px;
  align-items: center;
  img{
    width: 80px;
    border-radius: 100px;
    margin-top: 20px;
  }
}